<div class="responsive-intranet">
    <div class="module-root"
         verticalcarouselleftthumbnailsform="" value="value" index="0">
        <div id="_module" class="vertical-carousel-left-thumbnails-form-block"

             style="background-color: rgb(238, 243, 247);">
            <div class="vertical-carousel-left-thumbnails-form-badge module-title-bar"

                 style="background-color: rgb(100, 127, 161);">
                <p class="ng-binding">Citibank Social BPM Widget <span class="more-link"><a
                        href="#"
                        title="Click to view Profiles page">More</a> </span></p>
            </div>
            <div class="vertical-carousel-left-thumbnails-form-links-wrapper">
                <ul
                        style="overflow:auto;overflow-x:hidden;max-height:400px" scroller="">
                    <!-- ngRepeat: mbPost in data.feeds -->
                    <li class="vertical-carousel-left-thumbnails-form-links ng-scope">
					<span class="text-wrapper">
						<span class="profile-thumbnail">
							<img ng-src="http://webassets.intranet.mckinsey.com/person/10003068572/images/thumb.jpg?dummy=allowed"
                                 title="Click to view Shelly Murphy's profile" alt=""
                                 ng-click="imageLink(data.microblog_link.replace('networkprofiles.intranet.mckinsey.com','home.intranet.mckinsey.com/profiles'),mbPost.vendor_individual_id)"
                                 style="cursor:pointer"
                                 src="http://webassets.intranet.mckinsey.com/person/10003068572/images/thumb.jpg?dummy=allowed">
						</span>
						<p class="item-name"><a href="http://home.intranet.mckinsey.com/profiles/messages/339150"
                                                ng-click="omnituretracking($event)" title="Click to view this post"
                                                target="_blank" class="ng-binding">Shelly Murphy</a></p>
						<p class="item-title ng-binding">Graphic Designer &nbsp;&nbsp;&nbsp; Washington Dc Inc</p>
						<p class="item-comment ng-binding">Awesome Sauce!!! #awesomesauce #diversitymatters</p>

                        <!-- ngIf: mbPost.has_image===true -->
                        <!-- ngIf: mbPost.has_attachment===true -->
                        <!-- ngIf: mbPost.has_link===true -->

						<p class="item-post-time ng-binding">18 hours ago</p>

						<ul class="social-data">
							<li class="social-likes"><span class="ng-binding"><i class="fa fa-heart"></i> 0</span></li>
							<li class="social-comments"><span class="ng-binding"><i class="fa fa-comment"></i> 0</span></li>
						</ul>
					</span>
                    </li><!-- end ngRepeat: mbPost in data.feeds -->
                    <li class="vertical-carousel-left-thumbnails-form-links ng-scope">
					<span class="text-wrapper">
						<span class="profile-thumbnail">
							<img ng-src="http://webassets.intranet.mckinsey.com/person/10044801139/images/thumb.jpg?dummy=allowed"
                                 title="Click to view Jonas Binding's profile" alt=""
                                 ng-click="imageLink(data.microblog_link.replace('networkprofiles.intranet.mckinsey.com','home.intranet.mckinsey.com/profiles'),mbPost.vendor_individual_id)"
                                 style="cursor:pointer"
                                 src="http://webassets.intranet.mckinsey.com/person/10044801139/images/thumb.jpg?dummy=allowed">
						</span>
						<p class="item-name"><a href="http://home.intranet.mckinsey.com/profiles/messages/339143"
                                                ng-click="omnituretracking($event)" title="Click to view this post"
                                                target="_blank" class="ng-binding">Jonas Binding</a></p>
						<p class="item-title ng-binding">Engagement Manager &nbsp;&nbsp;&nbsp; Stuttgart (BT/Germany)</p>
						<p class="item-comment ng-binding">Did you know you can tell Box what timezone your are in? Go to https://mckinsey.app.box.com/settings/user #box #advice</p>

                        <!-- ngIf: mbPost.has_image===true -->
                        <!-- ngIf: mbPost.has_attachment===true -->
                        <!-- ngIf: mbPost.has_link===true -->

						<p class="item-post-time ng-binding">1 day ago</p>

						<ul class="social-data">
							<li class="social-likes"><span class="ng-binding"><i class="fa fa-heart"></i> 1</span></li>
							<li class="social-comments"><span class="ng-binding"><i class="fa fa-comment"></i> 1</span></li>
						</ul>
					</span>
                    </li><!-- end ngRepeat: mbPost in data.feeds -->
                    <li class="vertical-carousel-left-thumbnails-form-links ng-scope">
					<span class="text-wrapper">
						<span class="profile-thumbnail">
							<img ng-src="http://webassets.intranet.mckinsey.com/person/10028301192/images/thumb.jpg?dummy=allowed"
                                 title="Click to view Duncan Kauffman's profile" alt=""
                                 ng-click="imageLink(data.microblog_link.replace('networkprofiles.intranet.mckinsey.com','home.intranet.mckinsey.com/profiles'),mbPost.vendor_individual_id)"
                                 style="cursor:pointer"
                                 src="http://webassets.intranet.mckinsey.com/person/10028301192/images/thumb.jpg?dummy=allowed">
						</span>
						<p class="item-name"><a href="http://home.intranet.mckinsey.com/profiles/messages/339124"
                                                ng-click="omnituretracking($event)" title="Click to view this post"
                                                target="_blank" class="ng-binding">Duncan Kauffman</a></p>
						<p class="item-title ng-binding">Engagement Manager &nbsp;&nbsp;&nbsp; Singapore (London)</p>
						<p class="item-comment ng-binding">230am conference call #lifestyle</p>

                        <!-- ngIf: mbPost.has_image===true --><p class="item-image ng-scope"
                                                                 ng-if="mbPost.has_image===true">
							<a class="link_upload-image"
                               href="http://profilesprodlampvip.intranet.mckinsey.com/message/attachment/339124/full.jpg"
                               ng-click="omnituretracking($event)" title="IMG_2847.png" target="_blank"><img
                                    class="posted_image"
                                    ng-src="http://profilesprodlampvip.intranet.mckinsey.com/message/attachment/339124/full.jpg"
                                    width="70"
                                    src="http://profilesprodlampvip.intranet.mckinsey.com/message/attachment/339124/full.jpg"></a>
						</p><!-- end ngIf: mbPost.has_image===true -->
                        <!-- ngIf: mbPost.has_attachment===true -->
                        <!-- ngIf: mbPost.has_link===true -->

						<p class="item-post-time ng-binding">1 day ago</p>

						<ul class="social-data">
							<li class="social-likes"><span class="ng-binding"><i class="fa fa-heart"></i> 5</span></li>
							<li class="social-comments"><span class="ng-binding"><i class="fa fa-comment"></i> 4</span></li>
						</ul>
					</span>
                    </li><!-- end ngRepeat: mbPost in data.feeds -->
                    <li class="vertical-carousel-left-thumbnails-form-links ng-scope">
					<span class="text-wrapper">
						<span class="profile-thumbnail">
							<img ng-src="http://webassets.intranet.mckinsey.com/person/10004170274/images/thumb.jpg?dummy=allowed"
                                 title="Click to view Rick Bajaj's profile" alt=""
                                 ng-click="imageLink(data.microblog_link.replace('networkprofiles.intranet.mckinsey.com','home.intranet.mckinsey.com/profiles'),mbPost.vendor_individual_id)"
                                 style="cursor:pointer"
                                 src="http://webassets.intranet.mckinsey.com/person/10004170274/images/thumb.jpg?dummy=allowed">
						</span>
						<p class="item-name"><a href="http://home.intranet.mckinsey.com/profiles/messages/339087"
                                                ng-click="omnituretracking($event)" title="Click to view this post"
                                                target="_blank" class="ng-binding">Rick Bajaj</a></p>
						<p class="item-title ng-binding">Global Category Manager - Accommodation &amp; Car Rental &nbsp;&nbsp;&nbsp; FI/Firm</p>
						<p class="item-comment ng-binding">#TravelPromos - Southwest Airlines has extended their double Rapid Rewards points exclusively for McKinsey travelers for all flights booked and flown through 31-October 2016 given their re-signed preferred airline partner status with the Firm.

In order to be eligible to receive...</p>

                        <!-- ngIf: mbPost.has_image===true -->
                        <!-- ngIf: mbPost.has_attachment===true -->
                        <!-- ngIf: mbPost.has_link===true -->

						<p class="item-post-time ng-binding">2 days ago</p>

						<ul class="social-data">
							<li class="social-likes"><span class="ng-binding"><i class="fa fa-heart"></i> 3</span></li>
							<li class="social-comments"><span class="ng-binding"><i class="fa fa-comment"></i> 0</span></li>
						</ul>
					</span>
                    </li><!-- end ngRepeat: mbPost in data.feeds -->
                    <li class="vertical-carousel-left-thumbnails-form-links ng-scope">
					<span class="text-wrapper">
						<span class="profile-thumbnail">
							<img ng-src="http://webassets.intranet.mckinsey.com/person/10042420449/images/thumb.jpg?dummy=allowed"
                                 title="Click to view Wasim Lala's profile" alt=""
                                 ng-click="imageLink(data.microblog_link.replace('networkprofiles.intranet.mckinsey.com','home.intranet.mckinsey.com/profiles'),mbPost.vendor_individual_id)"
                                 style="cursor:pointer"
                                 src="http://webassets.intranet.mckinsey.com/person/10042420449/images/thumb.jpg?dummy=allowed">
						</span>
						<p class="item-name"><a href="http://home.intranet.mckinsey.com/profiles/messages/339072"
                                                ng-click="omnituretracking($event)" title="Click to view this post"
                                                target="_blank" class="ng-binding">Wasim Lala</a></p>
						<p class="item-title ng-binding">Engagement Manager &nbsp;&nbsp;&nbsp; Washington Dc (Dubai)</p>
						<p class="item-comment ng-binding">I love the DC office. Just had a great townhall and then a lifestyle hackathon, and now into a GLAM session at 3.30. Friday office connections for the win.</p>

                        <!-- ngIf: mbPost.has_image===true -->
                        <!-- ngIf: mbPost.has_attachment===true -->
                        <!-- ngIf: mbPost.has_link===true -->

						<p class="item-post-time ng-binding">2 days ago</p>

						<ul class="social-data">
							<li class="social-likes"><span class="ng-binding"><i class="fa fa-heart"></i> 11</span></li>
							<li class="social-comments"><span class="ng-binding"><i class="fa fa-comment"></i> 0</span></li>
						</ul>
					</span>
                    </li><!-- end ngRepeat: mbPost in data.feeds -->
                    <li class="vertical-carousel-left-thumbnails-form-links ng-scope">
					<span class="text-wrapper">
						<span class="profile-thumbnail">
							<img ng-src="http://webassets.intranet.mckinsey.com/person/10024755955/images/thumb.jpg?dummy=allowed"
                                 title="Click to view John Menzies's profile" alt=""
                                 ng-click="imageLink(data.microblog_link.replace('networkprofiles.intranet.mckinsey.com','home.intranet.mckinsey.com/profiles'),mbPost.vendor_individual_id)"
                                 style="cursor:pointer"
                                 src="http://webassets.intranet.mckinsey.com/person/10024755955/images/thumb.jpg?dummy=allowed">
						</span>
						<p class="item-name"><a href="http://home.intranet.mckinsey.com/profiles/messages/339061"
                                                ng-click="omnituretracking($event)" title="Click to view this post"
                                                target="_blank" class="ng-binding">John Menzies</a></p>
						<p class="item-title ng-binding">Associate &nbsp;&nbsp;&nbsp; Toronto</p>
						<p class="item-comment ng-binding">Interested in machine learning but have no idea where to start?  Here's a pretty nifty introduction:</p>

                        <!-- ngIf: mbPost.has_image===true -->
                        <!-- ngIf: mbPost.has_attachment===true -->
                        <!-- ngIf: mbPost.has_link===true --><p class="item-link ng-scope"
                                                                ng-if="mbPost.has_link===true">
							<a class="link_upload-link ng-binding"
                               href="https://medium.com/@ageitgey/machine-learning-is-fun-80ea3ec3c471#.qz9gl99sr"
                               ng-click="omnituretracking($event)"
                               title="https://medium.com/@ageitgey/machine-learning-is-fun-80ea3ec3c471#.qz9gl99sr"
                               target="_blank">https://medium.com/@ageitgey/machine-learning-is-fun-80ea3ec3c471#.qz9gl99sr</a>
						</p><!-- end ngIf: mbPost.has_link===true -->

						<p class="item-post-time ng-binding">2 days ago</p>

						<ul class="social-data">
							<li class="social-likes"><span class="ng-binding"><i class="fa fa-heart"></i> 3</span></li>
							<li class="social-comments"><span class="ng-binding"><i class="fa fa-comment"></i> 2</span></li>
						</ul>
					</span>
                    </li><!-- end ngRepeat: mbPost in data.feeds -->
                </ul>

                <div class="vertical-carousel-left-thumbnails-form-badge module-title-bar"
                     style="background-color: rgb(100, 127, 161);">
                    <p class="ng-binding">Last updated at: 31st July, 2016</p>
                </div>


            </div>
        </div>
    </div>
</div>