<div class="responsive-intranet">
    <div class="module-root"
         verticalcarouselleftthumbnailsform="" value="value" index="0">
        <div id="_module" class="vertical-carousel-left-thumbnails-form-block">
            <div class="vertical-carousel-left-thumbnails-form-badge module-title-bar">
                <p>Citibank Social BPM Widget <span class="more-link"><a
                        href="#"
                        title="Click to view Profiles page">More</a> </span></p>
            </div>
            <div class="vertical-carousel-left-thumbnails-form-links-wrapper">
                <ul>
                    <li class="vertical-carousel-left-thumbnails-form-links">
					<span class="text-wrapper">
						<span class="profile-thumbnail">
							<img title="Click to view Shelly Murphy's profile" alt=""
                                 src="client/src/assets/img/avatars/female/34.png">
						</span>
						<p class="item-name"><a href="#"
                                                target="_blank">Shelly Murphy</a></p>
						<p class="item-title">Graphic Designer &nbsp;&nbsp;&nbsp; Washington Dc Inc</p>
						<p class="item-comment">Awesome Sauce!!! #awesomesauce #diversitymatters</p>
						<p class="item-post-time">18 hours ago</p>
						<ul class="social-data">
							<li class="social-likes"><span><i class="fa fa-heart"></i> 0</span></li>
							<li class="social-comments"><span><i class="fa fa-comment"></i> 0</span></li>
						</ul>
					</span>
                    </li>
                    <li class="vertical-carousel-left-thumbnails-form-links">
					<span class="text-wrapper">
						<span class="profile-thumbnail">
							<img title="Click to view Jonas Binding's profile" alt=""
                                 src="client/src/assets/img/avatars/male/5.png">
						</span>
						<p class="item-name"><a href="#"
                                                target="_blank">Jonas Binding</a></p>
						<p class="item-title">Engagement Manager &nbsp;&nbsp;&nbsp; Stuttgart (BT/Germany)</p>
						<p class="item-comment">Did you know you can tell Box what timezone your are in? Go to https://mckinsey.app.box.com/settings/user #box #advice</p>
						<p class="item-post-time">1 day ago</p>
						<ul class="social-data">
							<li class="social-likes"><span><i class="fa fa-heart"></i> 1</span></li>
							<li class="social-comments"><span><i class="fa fa-comment"></i> 1</span></li>
						</ul>
					</span>
                    </li>
                    <li class="vertical-carousel-left-thumbnails-form-links">
					<span class="text-wrapper">
						<span class="profile-thumbnail">
							<img title="Click to view Duncan Kauffman's profile" alt=""
                                 src="client/src/assets/img/avatars/male/9.png">
						</span>
						<p class="item-name"><a href="#"
                                                target="_blank">Duncan Kauffman</a></p>
						<p class="item-title">Engagement Manager &nbsp;&nbsp;&nbsp; Singapore (London)</p>
						<p class="item-comment">230am conference call #lifestyle</p>

                        <p class="item-image">
							<a class="link_upload-image"
                               href="client/src/assets/img/attachment/339124.jpg"
                               title="IMG_2847.png" target="_blank"><img
                                    class="posted_image"
                                    width="70"
                                    src="client/src/assets/img/attachment/339124.jpg"></a>
						</p>
						<p class="item-post-time">1 day ago</p>

						<ul class="social-data">
							<li class="social-likes"><span><i class="fa fa-heart"></i> 5</span></li>
							<li class="social-comments"><span><i class="fa fa-comment"></i> 4</span></li>
						</ul>
					</span>
                    </li><!-- end ngRepeat: mbPost in data.feeds -->
                    <li class="vertical-carousel-left-thumbnails-form-links">
					<span class="text-wrapper">
						<span class="profile-thumbnail">
							<img title="Click to view Rick Bajaj's profile" alt=""
                                 src="client/src/assets/img/avatars/male/14.png">
						</span>
						<p class="item-name"><a href="#"
                                                title="Click to view this post"
                                                target="_blank">Rick Bajaj</a></p>
						<p class="item-title">Global Category Manager - Accommodation &amp; Car Rental &nbsp;&nbsp;&nbsp; FI/Firm</p>
						<p class="item-comment">#TravelPromos - Southwest Airlines has extended their double Rapid Rewards points exclusively for McKinsey travelers for all flights booked and flown through 31-October 2016 given their re-signed preferred airline partner status with the Firm. In order to be eligible to receive...</p>

						<p class="item-post-time">2 days ago</p>

						<ul class="social-data">
							<li class="social-likes"><span><i class="fa fa-heart"></i> 3</span></li>
							<li class="social-comments"><span><i class="fa fa-comment"></i> 0</span></li>
						</ul>
					</span>
                    </li><!-- end ngRepeat: mbPost in data.feeds -->
                    <li class="vertical-carousel-left-thumbnails-form-links">
					<span class="text-wrapper">
						<span class="profile-thumbnail">
							<img title="Click to view Wasim Lala's profile" alt=""
                                 src="client/src/assets/img/avatars/male/5.png">
						</span>
						<p class="item-name"><a href="#"
                                                target="_blank">Wasim Lala</a></p>
						<p class="item-title">Engagement Manager &nbsp;&nbsp;&nbsp; Washington Dc (Dubai)</p>
						<p class="item-comment">I love the DC office. Just had a great townhall and then a lifestyle hackathon, and now into a GLAM session at 3.30. Friday office connections for the win.</p>

						<p class="item-post-time">2 days ago</p>

						<ul class="social-data">
							<li class="social-likes"><span><i class="fa fa-heart"></i> 11</span></li>
							<li class="social-comments"><span><i class="fa fa-comment"></i> 0</span></li>
						</ul>
					</span>
                    </li>
                    <li class="vertical-carousel-left-thumbnails-form-links">
					<span class="text-wrapper">
						<span class="profile-thumbnail">
							<img title="Click to view John Menzies's profile" alt=""
                                 src="client/src/assets/img/avatars/male/19.png">
						</span>
						<p class="item-name"><a href="#"
                                                target="_blank">John Menzies</a></p>
						<p class="item-title">Associate &nbsp;&nbsp;&nbsp; Toronto</p>
						<p class="item-comment">Interested in machine learning but have no idea where to start?  Here's a pretty nifty introduction.</p>
						<p class="item-post-time">2 days ago</p>

						<ul class="social-data">
							<li class="social-likes"><span><i class="fa fa-heart"></i> 3</span></li>
							<li class="social-comments"><span><i class="fa fa-comment"></i> 2</span></li>
						</ul>
					</span>
                    </li>
                </ul>

                <div class="vertical-carousel-left-thumbnails-form-badge module-status-bar"
                     style=";">
                    <p>Last updated at: 31st July, 2016</p>
                </div>
            </div>
        </div>
    </div>
</div>