<div class="responsive-intranet">
	<div class="module-root"
		 verticalcarouselleftthumbnailsform="" value="value" index="0">
		<div id="_module" class="vertical-carousel-left-thumbnails-form-block">
			<div class="vertical-carousel-left-thumbnails-form-badge module-title-bar">
				<p>Citibank Social BPM Widget <span class="more-link" ng-click="toggleMenu()">
						<a href="#" title="Click to view Profiles page">Settings</a>
					</span>
				</p>
			</div>
			<div class="sort-menu">
				<ul sort-menu="" ng-show="canShowMenu">
					<li ng-click="sortByMostRecent()">Sort by most recent</li>
					<li ng-click="sortByOldestFirst()">Sort by oldest first</li>
					<li ng-click="filterByCiti()">Filter by @Citi</li>
					<li ng-click="filterByNyu()">Filter by @NYU</li>
				</ul>
			</div>
			<div class="vertical-carousel-left-thumbnails-form-links-wrapper">
				<ul>
					<li ng-repeat="post in posts" class="vertical-carousel-left-thumbnails-form-links">
						<span class="text-wrapper">
							<span class="profile-thumbnail">
								<img title="Click to view Shelly Murphy's profile" alt=""
									 src="client/src/assets/img/avatars/{{post.id}}.png">
							</span>
							<p class="item-name"><a href="#">{{post.username}}</a></p>
							<p class="item-title">{{post.position}} &nbsp;&nbsp;&nbsp; @{{post.socialTag}}</p>
							<p class="item-comment">{{post.title}}</p>
							<p class="item-post-time">{{post.Published}}</p>
							<ul class="social-data">
								<li class="social-likes"><span><i class="fa fa-heart"></i> {{post.likeCount}}</span></li>
								<li class="social-comments"><span><i class="fa fa-comment"></i> {{post.answers.length}}</span></li>
							</ul>
						</span>

						<div class="answers" style="display: none;">
							<ul>
								<li ng-repeat="answer in post.answers" class="vertical-carousel-left-thumbnails-form-links">
									<span class="text-wrapper">
									<span class="profile-thumbnail">
										<img title="Click to view Shelly Murphy's profile" alt=""
											 src="client/src/assets/img/avatars/{{answer.id}}.png">
									</span>
									<p class="item-name"><a href="#"
															target="_blank">{{answer.username}}</a></p>
									<p class="item-title">{{post.position}} &nbsp;&nbsp;&nbsp; @{{answer.socialTag}}</p>
										<!-- p class="item-title">{{post.tags}}</p --->
									<p class="item-comment">{{answer.title}}</p>
									<p class="item-post-time">{{answer.Published}}</p>
								</span>
								</li>
							</ul>
						</div>

					</li>
				</ul>
			</div>
			<div class="vertical-carousel-left-thumbnails-form-badge module-status-bar"
				 style=";">
				<p>Last updated at: {{todayDate}}</p>
			</div>
		</div>
	</div>
</div>